
:root {
    
    --color-bg-page: #0e0e0e;              
    --color-bg-card: #1b1b1b;              
    --color-text: #f2f2f2;                 

    
    --color-grad-1: #7b2ff7;               
    --color-grad-2: #00ff88;               


    --radius-sm: 6px;                     
    --radius-lg: 20px;                     
    --space: 16px;                         

    --transition-speed: 0.3s;
    --transition-ease: ease-in-out;
}
